.main-color{
	color: #333!important;
}
.vote-color:{
	color:#fff;
}
.color-yellow {
    color: #FF9800;
}
.main-bgcolor{
	background-color: #ea0607!important;
}
.index-head{
	height:200px;
	position: relative;
	background-color: #fff;
}
.item span{
	width: 100%;
 	display: block;
 	color: #fff;
 	font-size:14px;
}
.b-right{
	border-right:1px solid #fff;
}
.shijian{
    background-color: #fff;
 	padding: 10px;
 	font-size: 14px;
 	color: #333;
}
.shijian img{
	width: 50px;
    float: left;
    display: block;
    margin-right: 10px;
}
.search-bar{
	width: 60px;
    height: 60px;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
    background-image: url(../images/hb2.png);
    background-size: cover;
}
.toupiao-bar{
    background: #f88d9f;
    display: block;
    border: 5px solid rgba(247, 247, 247, 0.46);
    font-size: 13px;
}

.toupiao-bar i {
    width: 20px;
    height: 20px;
    display: block;
    margin: 8px auto 0;
}
.toupiao-bar i img{
    width: 20px;
}
.tab-img{
	top: 3px;
    width: 24px;
    height: 24px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 1px;
    vertical-align: bottom;
    position: relative;
}
.arrow {
    background: url(../images/up.png) center no-repeat;
    background-size: cover;
    position: fixed;
    width: 40px;
    height: 40px;
    left: 0;
    right: 0;
    bottom: 100px;
    margin: 0 auto;
    z-index: 10000;
    opacity: 1;
    -webkit-animation: nextPage 1.2s linear infinite;
}
 @-webkit-keyframes nextPage {
    0% {
        -webkit-transform: translateY(40px);
        opacity: 1;
    }
    50% {
        -webkit-transform: translateY(20px);
        opacity: 0.4;
    }
    100% {
        -webkit-transform: translateY(10px);
        opacity: 0;
    }
}
.search {
    height: 80px;
    width: 100%;
    background: #89cff0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20001;
    display: none;
}
.s_up {
    padding: 10px 15px 0;
    height: 30px;
}
.tip {
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
}
#search {
    width: 78%;
    height: 30px;
    line-height: 30px;
    background: #fff;
    border-radius: 3px;
    float: left;
    color: #333;
    padding-left: 5px;
    margin-bottom:0;
    border:0;
}

#search-btn {
	padding: 0;
    color: #89cff0;
    background: #fff;
    width: 19%;
    float: right;
    height: 30px;
    line-height: 30px;
    border:0;
}
.image-list {
    width: 100%;
    min-height: 85px;
    background-size: cover;
    padding: 10px 10px;
    overflow: hidden;
}
.image-item {
    width: 65px;
    height: 65px;
    background-size: 100% 100%;
    display: inline-block;
    position: relative;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: solid 1px #e8e8e8;
}
.image-item.space {
    border: none;
}
.image-item.space .image-close {
    display: none;
}
.image-item .image-close {
    position: absolute;
    display: inline-block;
    right: -6px;
    top: -6px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 12px;
    background-color: #FF5053;
    color: #f3f3f3;
    border: solid 1px #FF5053;
    font-size: 9px;
    font-weight: 200;
    z-index: 1;
}
.image-item input[type="file"] {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 0;
}
.image-item img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.falls{
	overflow:hidden;
	padding:0px 5px;
}
.falls ul{
	width:50%;
	padding:0 5px;
	float:left;
	box-sizing:border-box;
	margin-top: 10px;
}
.falls ul li{ 
	width:100%;
	margin:0 5px 10px 0;
	overflow:hidden;
	float:left;
	box-sizing:border-box;
	position:relative;
	list-style:none;
}
.falls ul li:last-child{
	margin-bottom:0
}
.falls ul li p{
	height:30px;
	line-height:30px;
	color:#666;
	font-size:14px;
	padding:0 10px;
	overflow:hidden;
	position:relative;
	overflow:hidden
}
.falls ul li p span{
	margin-right:15px;
	display:block;
}
.falls ul li p em{
	color:#999;
	position:absolute;
	top:0;
	right:10px;
	font-style:normal
}
.falls ul li img{
	width:100%;
    display: block;
}
.falls.single ul.fl{
	padding:0 10px;
}
.li_box {
    background: #ffffff;
    padding: 5px;
    overflow: hidden;
}
.falls .info{
    font-size: 12px;
    background: #f3e4c2;
    padding: 5px;
}
.falls .toupiao{
	padding-top:5px;
}
#loadMore{
    clear: left;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding-bottom: 20px;
    position: relative;
}
#loadMore span:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    margin: 2px 0 0 5px;
}

.mui-tab-item.l{
    background: url(../images/sy.png) no-repeat 24px 10px;
    background-size: 24px;
    padding-left: 50px;
}

.mui-tab-item.r{
    background: url(../images/ph.png) no-repeat 24px 11px;
    background-size: 24px;
    padding-left: 50px;
}
.one {
   	width: 100%;
    height: 40px;
    background: url(../images/one.png) center no-repeat;
    background-size: 25px;
    position: absolute;
    top: -10px;
}
.two {
   	width: 100%;
    height: 40px;
    background: url(../images/two.png) center no-repeat;
    background-size: 25px;
    position: absolute;
    top: -10px;
}
.three {
   	width: 100%;
    height: 40px;
    background: url(../images/three.png) center no-repeat;
    background-size: 25px;
    position: absolute;
    top: -10px;
}
.grid-label{
	color: #f0ad4e;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    display: inline-block;
}
.grid-box{
	margin: 0;
    padding: 10px 0;
}
.gift{
	position: relative;
}
.gift img{
    height: 60px;
   	max-width: 100%;
}
.gift-border{
    border: 2px solid #e34688;
    border-radius: 8px;
    padding: 10px 0;
}
.gift-label{
    font-size: 14px;
    line-height: 15px;
    display: block;
    width: 100%;
    height: 15px;
    margin-top: 8px;
    text-overflow: ellipsis;
    color: #f0ad4e;
}
.gift-num{
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    width: 60%;
    background-color: #fff;
    font-size: 12px;
    color: #e34688;
}
.gift .gift-num{
	display: none;
}
.gift-border .gift-num{
	display: block;
}
.segmented-control {
    font-size: 15px;
    font-weight: 400;
    position: relative;
    display: table;
    overflow: hidden;
    width: 100%;
    table-layout: fixed;
    background-color: transparent;
    -webkit-touch-callout: none;
}
.segmented-control .control-item {
    line-height: 38px;
    display: table-cell;
    overflow: hidden;
    width: 1%;
    -webkit-transition: background-color .1s linear;
    transition: background-color .1s linear;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    background: #838383;
    border-bottom:1px solid;
}
.segmented-control .control-item.mui-active {
    color: #fff;
    background-color: #f88d9f;
}
.mui-table .mui-btn{
	margin-right:10px;
}
.mui-table .mui-btn.mui-active:enabled {
    color: #e34688;
    background-color: #fff;
    border: 1px solid #e34688;
}
input[type='submit'],
.mui-btn-primary, .mui-btn-blue
{
    color: #fff;
    border: 1px solid #ea0607;
    background-color: #ea0607;
}
input[type='submit']:enabled:active, input[type='submit'].mui-active:enabled,
.mui-btn-primary:enabled:active,
.mui-btn-primary.mui-active:enabled, .mui-btn-blue:enabled:active, .mui-btn-blue.mui-active:enabled{
    color: #fff;
    border: 1px solid #ea0607;
    background-color: #ea0607;
}
.mui-bar{
    background-color: #ea0607;
}
.mui-bar-tab {
    border-top: 1px solid #ea0607;
}
.mui-bar-nav {
    border-bottom: 1px solid #ea0607;
}
.border-bottom-color{
	border-bottom: 1px solid #fff;
}
.group{
	margin:10px 10px 0 10px;
}
.group select{
	margin-bottom:0;
	margin-top:0;
	line-height:19px;
    background-color: #ea0607;
    color: #fff;
}