.container {
    height: 100%;
    overflow-y: auto;
}
.mui-page{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.price-color{
	color: #FF9F19!important;
}
.color0{
	color:#fff!important
}
.color1{
	color:rgba(0,0,0,.8)!important;
}
.color2{
	color:rgba(0,0,0,.5)!important;
}
.color3{
	color:rgba(0,0,0,.3)!important;
}
.color4{
	color:rgba(0,0,0,.4)!important;
}
.color5{
	color:rgba(255,255,255,.5)!important;
}
.color6{
	color:rgba(0,0,0,1)!important;
}
.color-red {
    color: #f9413e;
}
.price-bgcolor{
	background-color: #ff9f19!important;
}
.bgcolor1{
	background-color: #fff!important;
}
.fs12{
	font-size: 12px!important;
}
.fs14{
	font-size: 14px!important;
}
.fs15{
	font-size: 15px!important;
}
.fs16 {
    font-size: 16px!important;
}
.fs18 {
    font-size: 18px!important;
}
.fs20{
	font-size: 20px!important;
}
.fs22{
	font-size: 22px!important;
}
.fs24{
	font-size: 24px!important;
}
.fs30{
	font-size: 30px!important;
}
.fs44{
	font-size: 44px!important;
}
.mt0{
	margin-top:0!important;
}
.mt5{
	margin-top:5px!important;
}
.mt10{
	margin-top:10px!important;
}
.mb10{
	margin-bottom:10px!important;
}
.mr10{
	margin-right:10px!important;
}
.mr5{
    margin-right: 5px!important;
}
.mb5{
	margin-bottom: 5px!important;
}
.mb0{
	margin-bottom: 0!important;
}
.m20{
	margin:20px;
}
.pd10{
	padding: 10px;
}
.pd15{
	padding: 15px;
}
.pl10{
	padding-left: 10px;
}
.pr20{
	padding-right: 20px;
}
.lh24{
	line-height: 24px;
}
.lh25{
	line-height: 25px;
}
.lh36{
	line-height: 36px;
}
.lh44{
	line-height: 44px;
}
.bold{
	font-weight: bold!important;
}
.items {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center
}
.item{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.center {
    position: fixed;
    width: 85%;
    top: 145px;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
    color:#999;
    z-index: 100;
}
.search_log{
	text-align: center;
	color:rgba(0,0,0,.5);
}
.price{
    position: absolute;
    right: 0;
    bottom: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
    background: rgba(255,0,42,.8);
    color: #fff;
    font-size: 12px;
    padding: 0 10px;
}
.del-line{
	text-decoration: line-through;
}
.gotop {
    position: fixed;
    padding-top: 10px;
    right: 20px;
    bottom: 60px;
    z-index: 9;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 50%;
    background: rgba(255,255,255,.96);
    text-align: center;
    display: none;
}

.avatar-bg {
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/avatar.png);
    background-color: #ccc;
}
.user-avatar {
    width: 68px;
    height: 68px;
    margin: 0 auto 16px;
    border: 2px solid rgb(255,255,255);
}
.input-row-icon{
	line-height: 44px;
    position: absolute;
    right: 15px;
}
.order-bg {
    width: 80px;
    height: 80px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.mui-btn-price {
    color: #fff;
    border: 1px solid #FF9F19;
    background-color: #FF9F19;
}
.msg{
	text-align: center;
  	padding-top: 36px;    
}
.msg-icon{
	margin-bottom: 30px;
}
.msg-text{
 	margin-bottom: 25px;
	padding: 0 20px;
}
.msg-title{
    margin-bottom: 5px;
 font-weight: 400;
 font-size: 20px;
}
.icon-zhifuchenggong{
    color: #16a9d4;
	font-size: 93px;
}
.icon-zhifushibai{
    color: #F76260;
	font-size: 93px;
}
.comment-avatar{
	line-height: 24px;
    max-width: 24px;
    height: 24px;
    background-color: #ddd;
    border-radius: 50%;
}
.souvenir-bg {
    width: 100px;
    height: 100px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    padding: 10px;
    border: 1px solid #faebcc;
    border-radius: 4px;
    font-size:14px;
}
.mui-preview-image.mui-fullscreen {
	position: fixed;
	z-index: 20;
	background-color: #000;
}
.mui-preview-header,
.mui-preview-footer {
	position: absolute;
	width: 100%;
	left: 0;
	z-index: 10;
}
.mui-preview-header {
	height: 44px;
	top: 0;
}
.mui-preview-footer {
	height: 50px;
	bottom: 0px;
}
.mui-preview-header .mui-preview-indicator {
	display: block;
	line-height: 25px;
	color: #fff;
	text-align: center;
	margin: 15px auto 4;
	width: 70px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 12px;
	font-size: 16px;
}
.mui-preview-image {
	display: none;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.mui-preview-image.mui-preview-in {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
.mui-preview-image.mui-preview-out {
	background: none;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}
.mui-preview-image.mui-preview-out .mui-preview-header,
.mui-preview-image.mui-preview-out .mui-preview-footer {
	display: none;
}
.mui-zoom-scroller {
	position: absolute;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	-webkit-backface-visibility: hidden;
}
.mui-zoom {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.mui-slider .mui-slider-group .mui-slider-item img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
	width: 100%;
}
.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
	display: inline-table;
}
.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
	display: table-cell;
	vertical-align: middle;
}
.mui-preview-loading {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}
.mui-preview-loading.mui-active {
	display: block;
}
.mui-preview-loading .mui-spinner-white {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	height: 50px;
	width: 50px;
}
.mui-preview-image img.mui-transitioning {
	-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
	transition: transform 0.5s ease, opacity 0.5s ease;
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
p img {
	max-width: 100%;
	height: auto;
}